:root {
    --menu-border-color: rgb(95, 94, 94);
    --menu-text-color: rgb(175, 171, 156);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*background-color: rgb(32, 32, 30);*/
    background: rgb(28, 27, 23);
    background: linear-gradient(0deg, rgba(28, 27, 23, 1) 0%, rgba(34, 34, 30, 1) 100%);
    height: 7200px;
}

.menu-link {
    color: var(--menu-text-color);
    text-decoration: none;
}

.menu-item {

    list-style-type: none;
    background-color: rgb(43, 43, 43);

    margin-top: 15px;
    margin-bottom: 15px;

    font-weight: bolder;
    font-size: x-large;
    text-transform: uppercase;

    border: 2px solid var(--menu-border-color);
    border-radius: 40px;

    width: 200px;

    text-align: center;
    color: var(--menu-text-color);

    animation: 0.3s ease-out menu-btn-Load;

    transition: all 0.4s;
}

.menu-item:hover {

    background-color: rgb(67, 68, 70);

    border-color: white;

    color: white;

    /*-ms-transform: scale(1.2);*/
    /* IE 9 */
    /*-webkit-transform: scale(1.2);*/
    /* Safari 3-8 */
    /*transform: scale(1.2);*/

    animation: menu-btn-over 0.5s ease-out both fill-mode;
}

.menu-list {
    position: fixed;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    width: 250px;

    padding: 20px 0px 20px 0px;

    border: 2px dashed var(--menu-border-color);

    background-color: rgba(32, 31, 30, 0);

    transition: all 1s;
    transform: rotate3d(0, 0, 1, 25deg);

    animation: 0.5s ease-out menu-Load;
}

.menu-list:hover {
    transform: rotate3d(0, 0, 1, 10deg) translateX(15px);
    background-color: rgb(41, 40, 38);
}

.menu-list:hover .menu-item {
    transform: rotate3d(0, 0, -1, 10deg);
    background-color: rgb(54, 57, 65);
}


.search-container {
    text-align: center;
    margin: 25px 0 0 230px;
}

.search-field {
    border: 3px solid var(--menu-border-color);
    border-radius: 30px;

    width: 30%;

    outline: none;

    padding: 10px 0 10px 0;

    text-align: center;

    font-weight: bold;
    font-size: x-large;

    animation: 0.6s ease-in-out search-Load;
}

@keyframes menu-Load {
from {
    border: 2px dashed rgba(32, 31, 30, 0);
    transform: rotate3d(0, 0, 1, 0deg) translateY(-200px);
}
}

@keyframes menu-btn-Load {
    from {
        transform: scale(0.5);
    }
}

@keyframes menu-btn-hover {
    to{
        transform: scale(1.2);
    }
}

@keyframes search-Load {
    from {
        transform: translateY(-100px);
    }
}