.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.searchBar {
    border-width: 2px;
    border-radius: 20px;

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    font-weight: bold;
    font-size: large;

    cursor: pointer;

    transition-property: border-radius;
    transition-duration: 0.3s;
}

.searchBar:focus {

    border-radius: 3px 3px 0px 3px;
    z-index: 0;
    cursor: text;
    
    outline: none;
    
    border-style: solid;
    
}

.searchContainer {
    width: fit-content;
}

.searchResult {
    position: absolute;
    margin: 0;

    width: 246px;

    text-align: center;
    display: none;

    z-index: 10;

    transition-property: all;
    transition-delay: 300ms;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-left: 0;
    list-style-type: none;

    z-index: 11;
}

li {
    background-color: white;
    z-index: 12;
    border: 1px solid #676767;
    border-top: 0;
    font-size: x-large;
}

li:hover {
    background-color: #dddddd;
}

a {
    width: 100%;
    height: 100%;
}

.main {
    margin-top: 20px;
    border: 1px solid black;
}

.main input {
    outline: none;
    border: 0px solid black;
}